#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin
!bin/self-hosted-darwin
!bin/self-hosted-linux

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env
**/work/
.aws/config
.aws/credentials
context
.kube
project/**
!project/playbook.yml
!project/ansible.cfg
!project/run.sh

