#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin
!bin/self-hosted-darwin
!bin/self-hosted-linux

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Setup and Project Directory
setup/.env
**/work/
setup/context
setup/.kube
setup/project/bin
# overrides
!setup/project/roles
!setup/project/playbook.yml
!setup/project/ansible.cfg
!setup/project/run.sh
setup/env/passwords
