#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Eclipse
.project
.classpath
.settings/
bin/*
!bin/self-hosted-darwin
!bin/self-hosted-linux

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

.env
**/work/
.kube
playbook.yml
project
!project/playbook.yml
!project/run.sh
!project/ansible.cfg
docker
passwords