export AWS_ACCOUNT=$(aws sts get-caller-identity | jq -r ".Account")
export OIDC_BUCKET_NAME="rosa-demos-oidc"
export AWS_REGION="us-west-2"
export PKCS_KEY="sa-signer.pub"
export OIDC_ISSUER_URL="https://s3.$AWS_REGION.amazonaws.com/$OIDC_BUCKET_NAME"
export ROSA_DEMO_POLICY_NAME="$AWS_ACCOUNT-rosa-demos-policy"
export ROSA_DEMO_POLICY_ARN="arn:aws:iam::$AWS_ACCOUNT:policy/$OIDC_ISSUER_PATH"
export ROSA_DEMO_ROLE_NAME="$AWS_ACCOUNT-rosa-demos-role"
export OIDC_ISSUER_PATH=$(echo OIDC_ISSUER_URL | cut -f 3- -d'/')
export OIDC_PROVIDER_ARN="arn:aws:iam::$AWS_ACCOUNT:oidc-provider/$OIDC_ISSUER_PATH"
export ROSA_DEMO_ROLE_ARN="arn:aws:iam::$AWS_ACCOUNT:role/$OIDC_ISSUER_PATH"
